@import './common/colors';

.tooltip.in {
    opacity: 0.9;
}

h1{
    font-family: Chonburi;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

h2{
    font-family: Chonburi;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

h3{
    font-family: Chonburi;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

h6{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

body{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}